@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Montserrat:ital,wght@1,200&family=Open+Sans:wght@300&family=Rock+3D&family=Yuji+Hentaigana+Akebono&display=swap');
h1{
  text-align: center;
}

p{
  text-align: center;
  font-family: "Montserrat";
  }

div{
  text-align: center
}
.image{
  text-align: center;
 }